<%- include('includes/header'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class=" text-center">
                Contato
                <p class="text-center lead">
                    Crie ou edite seu contato abaixo.
                </p>
            </h1>

            <%- include('includes/messages') %>

            <% if(contato._id) { %>
            <form action="/contato/edit/<%= contato._id %> " method="post">
            <% } else {%>
            <form action="/contato/register" method="post">
            <% } %>

                <input type="hidden" name="_csrf" value=<%= csrfToken %>>

                <div class="form-group">
                    <labe>Nome</label>
                        <input value="<%= contato.nome %>" type="text" class="form-control" name="nome" placeholder="Informe o nome">
                </div>

                <div class="form-group">
                    <labe>Sobrenome</label>
                        <input value="<%= contato.sobrenome %>" type="text" class="form-control" name="sobrenome" placeholder="Informe o sobrenome">

                </div>

                <div class="form-group">
                    <labe>E-mail</label>
                        <input value="<%= contato.email %>" type="email" class="form-control" name="email" placeholder="Informe o email">
                </div>

                <div class="form-group">
                    <labe>Telefone</label>
                        <input value="<%= contato.telefone %>" type="tel" class="form-control" name="telefone" placeholder="Informe o telefone">
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>